In [30]:
import pandas as pd
import numpy as np 
import plotly.offline as pyo
import plotly.graph_objs as go

In [31]:
import plotly
print(plotly.__version__)

4.5.2

In [32]:
df = pd.read_csv("2010YumaAZ.csv")

In [33]:
df.head()

   LST_DATE      DAY LST_TIME  T_HR_AVG
0  20100601  TUESDAY     0:00      25.2
1  20100601  TUESDAY     1:00      24.1
2  20100601  TUESDAY     2:00      24.4
3  20100601  TUESDAY     3:00      24.9
4  20100601  TUESDAY     4:00      22.8

In [34]:
df.drop('LST_DATE', axis=1, inplace=True)

In [35]:
df.head()

       DAY LST_TIME  T_HR_AVG
0  TUESDAY     0:00      25.2
1  TUESDAY     1:00      24.1
2  TUESDAY     2:00      24.4
3  TUESDAY     3:00      24.9
4  TUESDAY     4:00      22.8

In [37]:
df['DAY'].unique()

array(['TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY',
       'MONDAY'], dtype=object)

In [39]:
df['LST_TIME'].nunique()

24

In [40]:
dayname = ['MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY']

In [26]:
#List comprehension
mydata = [go.Scatter(x=(df[df['DAY']==day_name]['LST_TIME']),
                     y=(df[df['DAY']==day_name]['T_HR_AVG']), name=day_name, mode='lines')
                      for day_name in dayname ]


'''

for day in dayname:
  trace = go.Scatter(x=df['LST_TIME'], y=df[df['DAY']==day]['T_HR_AVG'],  name=day, mode='lines')
  data.append(trace)

'''

In [27]:

mylayout = go.Layout(title="Hourly Temperatures by days of the week")

In [29]:

myfig = go.Figure(data=mydata,layout=mylayout)
pyo.plot(myfig, filename="MultiLine-Temperature.html")

'MultiLine-Temperature.html'