In [1]:
import plotly

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("scatter.csv")

In [4]:
df.head()

      xaxis      yaxis
0  1.619915  24.750133
1  9.925678  24.876706
2  7.910946  24.182702
3  4.883489  23.922412
4  8.946294   6.296125

In [5]:
df['xaxis'] = df['xaxis']/df['xaxis'].max()

In [6]:
df['yaxis'] = df['yaxis']/df['yaxis'].max()

In [7]:
df.head()

      xaxis     yaxis
0  0.162152  0.509245
1  0.993553  0.511849
2  0.791880  0.497570
3  0.488834  0.492214
4  0.895517  0.129546

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 788 entries, 0 to 787
Data columns (total 2 columns):
xaxis    788 non-null float64
yaxis    788 non-null float64
dtypes: float64(2)
memory usage: 12.4 KB

In [9]:
df.describe()

            xaxis       yaxis
count  788.000000  788.000000
mean     0.487142    0.100992
std      0.291243    0.131812
min      0.002219    0.000423
25%      0.232897    0.012852
50%      0.474670    0.053296
75%      0.739683    0.137948
max      1.000000    1.000000

In [10]:
import numpy as np

In [12]:
import plotly.offline as pyo
import plotly.graph_objs as go

In [28]:

data = [go.Scatter(x=df['xaxis'], 
                   y=df['yaxis'], 
                   mode="markers",
                   marker=dict(
                       size=14,
                       color="#ff6688",
                       symbol='square',
                       line=dict(width=1)
                       )
                  )]

layout = go.Layout( title="Emission Scatter Plot",
                    xaxis=dict(title='x Axis'),
                    yaxis=dict(title='y Axis'),
                    hovermode='closest'
                   )

fig = go.Figure(data=data, layout=layout)

In [29]:
pyo.plot(fig, filename="scatter.html")

'scatter.html'