In [1]:
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [20]:
df = pd.read_csv("mocksurvey.csv", index_col=0)

In [21]:
df.head()

,Strongly Agree,Somewhat Agree,Neutral,Somewhat Disagree,Strongly Disagree
Question 1,0.45,0.25,0.10,0.12,0.08
Question 2,0.12,0.07,0.48,0.18,0.15
Question 3,0.05,0.22,0.19,0.23,0.31

In [22]:
# df.set_index('Unnamed: 0')
df.index.names = ['Question']

In [23]:
df.head()

,Strongly Agree,Somewhat Agree,Neutral,Somewhat Disagree,Strongly Disagree
Question,,,,,
Question 1,0.45,0.25,0.10,0.12,0.08
Question 2,0.12,0.07,0.48,0.18,0.15
Question 3,0.05,0.22,0.19,0.23,0.31

In [28]:
df.columns

Index(['Strongly Agree', 'Somewhat Agree', 'Neutral', 'Somewhat Disagree',
       'Strongly Disagree'],
      dtype='object')

In [29]:
mydata = []

for col in df.columns:
    trace = go.Bar(x=df.index,y=df[col],name=col)
    mydata.append(trace)

'BarChart03-Survey.html'

In [ ]:
mylayout = go.Layout(title="Survey Results")


fig = go.Figure(data=mydata, layout=mylayout)
pyo.plot(fig,filename="BarChart03-Survey01.html")

In [30]:
mylayout = go.Layout(title="Survey Results", barmode='stack')


fig = go.Figure(data=mydata, layout=mylayout)
pyo.plot(fig,filename="BarChart03-Survey02.html")

'BarChart03-Survey02.html'