In [3]:
import numpy as np
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

In [11]:
df = pd.read_csv("sbi_nav2.csv")

In [12]:
df.head()

   SEQ      NAV
0    1  30.6237
1    2  30.7419
2    3  30.7627
3    4  31.0242
4    5  30.8899

In [18]:
trace0 = go.Scatter(x=df['SEQ'], y=df['NAV'], mode='lines+markers', name='sbi nav')

layout = go.Layout(title="Mutual Fund Net Asset Value: SBI Bluechip - Direct - Growth")

data = [trace0]

fig = go.Figure(data=data, layout=layout)

In [19]:
pyo.plot(fig, filename='SBI-NAV-lines-markers.html')

'SBI-NAV-lines-markers.html'